body {
    background: #F0EAD6;
    font-family: "Ubuntu", sans-serif;
    padding-top: 50px;
}

.container{
    max-width: 550px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
}

label {
    color: #4b5156;
    font-weight: 500;
    display: block;
}

.my-anchors {
    text-decoration: none;
    color: #4b5156;
}