body {
    background: #fafafa;
    font-family: "Ubuntu", sans-serif;
    padding-top: 50px;
}

.container{
    max-width: 550px;
    margin: auto;
    background: #fff;
    border-radius: 12px;
    outline: 0.5px solid orangered;
}

label {
    color: #4b5156;
    font-weight: 500;
    display: block;
}