.top-anchors {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.17rem;
    color: #fff;
}

#task-form {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    padding-bottom: 10px;
}

#task-form p {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px 0;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 0;
}

#task-form p:last-of-type {
    flex-direction: row;
    justify-content: start;
}

#login-form input[type=text],
textarea {
    border: none;
    outline: 1px solid #4b5156;
    outline-offset: -1px;
    border-radius: 0.5em;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    color: #4b5156;
    font-family: inherit;
}

#form-submit {
    background: orangered;
    color: #FFF;
    border: none;
    border-radius: 0.5em;
    font-family: inherit;
    font-weight: 500;
    height: 32px;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    padding: 0 10px;
    cursor: pointer;
    width: 30%;
    box-sizing: border-box;
    margin-top: 24px;
}