{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>Hello, {{request.user|title}}</h1>
        <h3>You have {{count}} incomplete item{{count|pluralize}}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

</div>

<div class="search-add-wrapper">
    <form method="GET">
        <input type="text" name="search-area" value="{{search_input}}">
        <div>
            <input class="button" type="submit" value="Search">
        </div>
    </form>
    <a id="add-link" href="{% url 'task-create' %}">+</a>
</div>

<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" data-position="{{task.pk}}">
        <div class="task-title">
            {% if task.complete %}
                <div class="task-complete-icon"></div>
                <s><a href="{% url 'task-update' task.id %}">{{task}}</a></s>
            {% else %}
                <div class="task-incomplete-icon"></div>
                <a href="{% url 'task-update' task.id %}">{{task}}</a>
            {% endif %}
        </div>
        <div class="task-controls">
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
        </div>
    </div>

    {% empty %}
    <div class="empty-list-message">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>

{% endblock content %}